.container {
  margin-top: 70px;
}

.clickable {
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  stroke-width: 0;
  color: #dc3545;
  stroke: currentColor;
  fill: currentColor;
}

.navbar-brand:hover {
  color: #c82333 !important;
}
.navbar-brand:hover .icon {
  transform: rotate(90deg);
}

.preloading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1050;
}
